<div style="background-color: rgb(64, 10, 192)1, 87, 87); padding: 25px">
    <h1>Centro de Mensajes</h1>
    <br>
    <br>
    <input style="align-items: center;" type="text" placeholder="Ingrese su mail" name="email">
    <br>
    <hr>
    <br>
    <ul style="margin: 0px; padding: 0px" id="msgList">
    </ul>
    <br>
    <input type="text" placeholder="Ingrese su mensaje" name="mensaje"><button class="btn btn-primary"
        style="margin: 10px" id="submitMsg">Enviar</button>
</div>