<form enctype="application/x-www-form-urlencoded" name="myform">
    <div class="mb-4">
        <h1>Formulario</h1>
    </div>
    <br>
    <br>
    <div class="mb-4">
        <label class="form-label">Producto</label>
        <input type="text" class="form-control" name="title">
    </div>
    <div class="mb-4">
        <label class="form-label">Precio</label>
        <input type="text" class="form-control" name="price">
    </div>
    <div class="mb-4">
        <label class="form-label">Foto</label>
        <input type="text" class="form-control" name="thumbnail">
        <div>Ingrese una url con la imagen.</div>
    </div>

</form>
<button class="btn btn-primary" id="botonSubmit">Submit</button>